# Environment files
.env

# Data folders
data/
split_data/

# Specific notebooks
yolo_cv_project.ipynb

# Virtual environment
.venv/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
ENV/
env.bak/
venv.bak/

# OS files
.DS_Store
Thumbs.db

# IDE files
.vscode/
.idea/

# Model files (optional, if you don't want to upload large models)
# best_model.pth